<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/css/portfolio.css" type="text/css" media="screen">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body id="index-background-img">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="nav-link-style">
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="expertise.html">Expertise <span class="sr-only">(current)</span></a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="photography.html">Photography</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<img class="profile-pic" src="/images/profile-pic.jpg">
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <p class="profile-intro">Front End Developer with strong attention for detail.  Creating mobile responsive web development with HTML5, CSS3 and jQuery.</p>
  </div>
  <div class="col-sm-3"></div>
</div>
</body>

</html>