<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/css/portfolio.css" type="text/css" media="screen">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Paprika' rel='stylesheet' type='text/css'>
  <script type="text/javascript" >
    $(document).ready(function() {        
      $('.carousel').carousel({
        interval: 3000
      });
    });

var popbackground="whitesmoke" //specify backcolor or background image for pop window
var windowtitle="Image Window"  //pop window title

function detectexist(obj){
  return (typeof obj !="undefined")
}

function jkpopimage(imgpath, popwidth, popheight, textdescription){

  function getpos(){
    leftpos=(detectexist(window.screenLeft))? screenLeft+document.body.clientWidth/2-popwidth/2 : detectexist(window.screenX)? screenX+innerWidth/2-popwidth/2 : 0
    toppos=(detectexist(window.screenTop))? screenTop+document.body.clientHeight/2-popheight/2 : detectexist(window.screenY)? screenY+innerHeight/2-popheight/2 : 0
    if (window.opera){
      leftpos-=screenLeft
      toppos-=screenTop
    }
  }

  getpos()
  var winattributes='width='+popwidth+',height='+popheight+',resizable=yes,left='+leftpos+',top='+toppos
  var bodyattribute=(popbackground.indexOf(".")!=-1)? 'background="'+popbackground+'"' : 'bgcolor="'+popbackground+'"'
  if (typeof popwin=="undefined" || popwin.closed)
    popwin=window.open("","",winattributes)
  else{
    getpos() 
    popwin.moveTo(leftpos, toppos)
    popwin.resizeTo(popwidth, popheight+30)
  }
  popwin.document.open()
  popwin.document.write('<html><title>'+windowtitle+'</title><body '+bodyattribute+'><img src="'+imgpath+'" style="margin-bottom: 0.5em"><br />'+textdescription+'</body></html>')
  popwin.document.close()
  popwin.focus()
}
</script>
</head>
<body id="expertise-background-img">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="nav-link-style">
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="expertise.html">Expertise</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <h1 class="title-header">Photography</h1>
  <div class="title-line-break"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6" id="carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/images/img-1.jpg" alt="English Bay">
          <div class="carousel-caption">
            English Bay
          </div>
        </div>
        <div class="item">
          <img src="/images/img-2.jpg" alt="West End at night.">
          <div class="carousel-caption">
            Vancouver west end at night
          </div>
        </div>
        <div class="item">
          <img src="/images/img-3.jpg" alt="English Bay sunset.">
          <div class="carousel-caption">
            Cheakamus River, enjoying the sun!
          </div>
        </div>
        <div class="item">
          <img src="/images/img-4.jpg" alt="Sea to Sky Highway.">
          <div class="carousel-caption">
            Mount Tantalus, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-5.jpg" alt="Sea to Sky Highway.">
          <div class="carousel-caption">
            Paradise Valley, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-6.jpg" alt="Sea to Sky Highway.">
          <div class="carousel-caption">
            Paradise Valley, Sea to Sky Highway
          </div>
        </div>
        <div class="item">
          <img src="/images/img-7.jpg" alt="Sea to Sky Highway.">
          <div class="carousel-caption">
            Cheakamus River, Sea to Sky Highway
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail img-responsive" href="#"onClick="jkpopimage('/images/cali-beach.jpg', 1000, 667, 'Beach in northern california.'); return false">
        <img class="img-responsive" src="/images/cali-beach.jpg" alt="Beach in northern california.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/img-3.jpg', 1000, 667, 'Enjoying the sun, on the Cheekamus river!' ); return false">
        <img class="img-responsive" src="/images/img-3.jpg" alt="Enjoying the sun, on the Cheekamus river!">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/lighthouse-park-one.jpg', 1000, 667, 'English Bay from Lighthouse Park.'); return false">
        <img class="img-responsive" src="/images/lighthouse-park-one.jpg" alt="English Bay from Lighthouse Park.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/lighthouse-park-two.jpg', 1000, 667, 'View of Vancouver from Lighthouse Park.'); return false">
        <img class="img-responsive" src="/images/lighthouse-park-two.jpg" alt="View of Vancouver from Lighthouse Park.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/cannon-beach.jpg', 1000, 667, 'Cannon Beach, Oregon' ); return false">
        <img class="img-responsive" src="/images/cannon-beach.jpg" alt="Cannon Beach, Oregon">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/cali-coast-one.jpg', 1000, 667, 'Northern California coast.' ); return false">
        <img class="img-responsive" src="/images/cali-coast-one.jpg" alt="Northern California coast.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/cali-coast-two.jpg', 1000, 667, 'Northern California coast.' ); return false">
        <img class="img-responsive" src="/images/cali-coast-two.jpg" alt="Northern California coast.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/inukshuk.jpg', 1000, 667, 'Inukshuk along the Vancouver sea wall.' ); return false">
        <img class="img-responsive" src="/images/inukshuk.jpg" alt="Inukshuk along the Vancouver sea wall.">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/rock.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/rock.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/river-rock.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/river-rock.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/twisted-roots.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/twisted-roots.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/tree-up.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/tree-up.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/tree-oozing.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/tree-oozing.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/tree-pattern.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/tree-pattern.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/rope.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/rope.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 thumb">
      <a class="thumbnail" href="#"onClick="jkpopimage('/images/barrell.jpg', 1000, 667 ); return false">
        <img class="img-responsive" src="/images/barrell.jpg" alt="">
      </a>
    </div>
  </div>
</body>
</html>