<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/css/portfolio.css" type="text/css" media="screen">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body id="expertise-background-img">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="nav-link-style">
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="expertise.html">Expertise</a></li>
          <li><a href="photography.html">Photography</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h6 class="projects-header">Co-Pilot</h6>
    <img class="co-pilot-img" src="/images/co-pilot.png">
    <p class="projects-description">Co-Pilot is a rails app that helps you plan your trip while on the go.  Allows you to change your waypoints and destinations.</p>
    <div class="projects-list">
      <ul> Built with:
        <li>Rails</li>
        <li>jQuery</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Google Maps API</li>
        <li>Google Places API</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h6 class="projects-header">What's in your fridge?</h6>
    <img class="whats-in-your-fridge-img" src="/images/whats-in-your-fridge.png">
    <p class="projects-description">What's in your fridge is a Ruby app that allows user to search recipes based on ingredients they have in there fridge.</p>
    <div class="projects-list">
      <ul> Built with:
        <li>Ruby</li>
        <li>jQuery</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Yummly API</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h6 class="projects-header">+1 Health</h6>
    <img class="plus-one-health-img" src="/images/plus-one-health.png">
    <p class="projects-description">+1 Health is a Ruby app that makes eating healthy and exercise a friendly competition.  Users add a +1 for exercise and a -1 for unhealthy food choices.</p>
    <div class="projects-list">
      <ul> Built with:
        <li>Ruby</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
      </ul>
    </div>
  </div>
</div>
</div>
</body>

</html>