/****** styling for index page ******/

/****** custom navbar ******/


.navbar .nav {
  float: none;
  text-align: center;
}

.navbar .nav li {
  float: none;
  display: inline-block;
}

.navbar {
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid #222222 !important;
  border-radius: 0px 0px 5px 5px !important;
  font-family: 'Paprika', cursive;
}

.navbar-custom {
  background-color: #222222;
  border-color: #E7E7E7;
}

/****** background image ******/

#index-background-img {
  background-image: url("/images/brickwall.jpg");
  height: 600px;
  width: 100%;
}

/****** profile picture ******/

img.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 11%;
  transition: transform 1.5s ease;
  border: 5px solid #3399FF;

}

img.profile-pic:hover {
  transform: scale(1.3);
} 

.profile-intro {
  color: #3399FF;
  text-indent: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 24px;
  margin-top: 5%;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000;
}

/****** styling for expertise page ******/

/****** expertise images ******/

div.col-sm-3 {
  margin-top: 3%;
}

.html5-pic,
.css3-pic,
.jquery-pic,
.bootstrap-pic {
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 2px solid #3399FF;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #3399FF;
 background-color: #2D2D2D;
}

#html-hdr,
#css-hdr,
#jquery-hdr,
#bootstrap-hdr {
  text-align: center;
  color: #3399FF;
  font-size: 22px;
  font-family: 'Paprika', cursive;
}

.line-break {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.line-break-1 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 18%;
}

.line-break-2 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 26.5%;
}

.line-break-3 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 18%;
}

.line-break-4 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#expertise-background-img {
  background: #2D2D2D;
  height: 600px;
  width: 100%;
}

.expertise-text {
  color: #3399FF;
  text-indent: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
}

/****** styling for photography page ******/

/****** image carousel ******/

#carousel {
  margin-top: 3%;
}

#carousel-example-generic {
  border: 5px solid #3399FF;
  border-radius: 5px;
  overflow: hidden !important;
  margin-bottom: 5%;
}

/***** styling for projects page *****/

.projects-header {
  font-size: 40px;
  color: #3399FF;
  text-align: center;
  font-family: 'Paprika', cursive;
}

img.co-pilot-img,
img.whats-in-your-fridge-img,
img.plus-one-health-img {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5%;
  border: 5px solid #3399FF;
  border-radius: 5px;
  transition: all 2s ease;
}

img.co-pilot-img:hover,
img.whats-in-your-fridge-img:hover,
img.plus-one-health-img:hover {
  -webkit-filter: grayscale(100%);
}

.projects-list {
  color: whitesmoke;
  font-size: 20px;
}

.projects-description {
  color: whitesmoke;
  font-size: 20px;
  text-indent: 2%;
  margin-top: 3%;
  text-align: center;
}

/***** styling for photo gallery on photography page *****/

#photo-gallery-hdr {
  margin-top: 3%;
}

img#gallery-img:hover {
  transform: scale(1.7);
  z-index: 600;
  position: relative;
} 

#thumbnailGallery {
  border: 5px solid #FFF;
  border-radius: 5px;
  margin-bottom: 0 !important; 
}

/***** styling for contact page *****/

#name-header {
  color: #3399FF;
  font-size: 25px;
  font-family: 'Paprika', cursive;
  font-weight: bolder;
}

.contact-info {
  color: #000;
  font-size: 18px;
}

#contact-style {
  margin-top: 5%;
  text-align: center;
}

#submit-btn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#contact-form-name {
  width: 72.5%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #3399FF;
  background-color: #E4E4E4;
}

#contact-form-email {
  width: 72.5%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #3399FF;
  background-color: #E4E4E4;
}

#contact-form-textarea {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  width: 72.5%;
  height: 150px;
  margin-bottom: 2.5%;
  border: 3px solid #3399FF;
  background-color: #E4E4E4;
}

#contact-info-background {
  background-color: #E4E4E4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 6.5%;
  border-radius: 5px;
  border: 5px solid #3399FF;
  box-shadow: inset 1px 1px 38px 25px rgba(110,157,199,0.67);
}

.title-header {
  color: #3399FF;
  font-size: 40px;
  font-family: 'Paprika', cursive;
  text-align: center;
  margin-top: -1%;
}

.title-line-break {
  border-top: 2px solid #888888;
  margin-top: 1%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title-line-break2 {
  border-top: 2px solid #888888;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/***** styling for contact form on contact page *****/

.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.container:first-of-type {
  top: 100px;
}

#contactform {
  padding: 20px;
  border: 5px solid #3399FF;
  border-radius: 5px;
  background-color: #E4E4E4;
  box-shadow: inset 1px 1px 38px 25px rgba(110,157,199,0.67);
  padding-top: 5%;
  padding-bottom: 6.5%;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin-top: 12%;
}

#contactform input[type=text],
#contactform input[type=email],
#contactform textarea {
  width: 100%;
  height: 44px;
  display: block;
  border: 3px solid #3399FF;
  background-color: #E4E4E4;
  border-radius: 5px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 3%;
  font-size: 18px;
  padding-left: 3%;
}

#contactform textarea {
  height: 150px;
  padding-top: 1.5%;
}

#contactform input[type=submit] {
  width: 50%;
  height: 44px;
  display: block;
  border: 3px solid #3399FF;
  background-color: #E4E4E4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  font-size: 20px;
}

.photo-style {
  margin-left: 200px;
}

