/****** styling for index page ******/

/****** custom navbar ******/


.navbar .nav {
  float: none;
  text-align: center;
}

.navbar .nav li {
  float: none;
  display: inline-block;
}

.navbar {
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid #222222 !important;
  border-radius: 0px 0px 5px 5px !important;
}

.navbar-custom {
  background-color: #222222;
  border-color: #E7E7E7;
}

/****** background image ******/

#index-background-img {
  background-image: url("/images/brickwall.jpg");
  height: 600px;
  width: 100%;
}

/****** profile picture ******/

img.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 11%;
  transition: transform 0.4s ease;
  border: 5px solid #3399FF;

}

img.profile-pic:hover {
  transform: scale(1.3);
} 

.profile-intro {
  color: #3399FF;
  text-indent: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 24px;
  margin-top: 5%;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000;
}

/****** styling for expertise page ******/

/****** expertise images ******/

div.col-sm-3 {
  margin-top: 3%;
}

.html5-pic,
.css3-pic,
.jquery-pic,
.bootstrap-pic {
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 2px solid #3399FF;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #3399FF;
 background-color: #2D2D2D;
}

#html-hdr,
#css-hdr,
#jquery-hdr,
#bootstrap-hdr {
  text-align: center;
  color: #3399FF;
  font-size: 22px;
}

.line-break {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.line-break-1 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 18%;
}

.line-break-2 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 26.5%;
}

.line-break-3 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 18%;
}

.line-break-4 {
  border-top: 2px solid #888888;
  margin-top: 10%;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#expertise-background-img {
  background: #2D2D2D;
  height: 600px;
  width: 100%;
}

.expertise-text {
  color: #3399FF;
  text-indent: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
}

/****** styling for photography page ******/

/****** image carousel ******/

#carousel {
  margin-top: 4%;
}

#carousel-example-generic {
  border: 5px solid #3399FF;
  border-radius: 5px;
  overflow: hidden !important;
}

/***** styling for projects page *****/

.projects-header {
  font-size: 40px;
  color: #3399FF;
  text-align: center;
}

img.co-pilot-img,
img.whats-in-your-fridge-img,
img.plus-one-health-img {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5%;
  border: 5px solid #3399FF;
  border-radius: 5px;
  transition: all 2s ease;
}

img.co-pilot-img:hover,
img.whats-in-your-fridge-img:hover,
img.plus-one-health-img:hover {
  -webkit-filter: grayscale(100%);
}

.projects-list {
  color: whitesmoke;
  font-size: 20px;
}

.projects-description {
  color: whitesmoke;
  font-size: 20px;
  text-indent: 2%;
  margin-top: 3%;
  text-align: center;
}




